mat-form-field{
    width: 300px;
}

#form-inputs{
    border: 1px solid black;
    border-radius: 5px;
    padding: 50px;
}
.title {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 20px;
}