<app-actions-menu></app-actions-menu>
<div *ngIf="operationsList != null">
    <div class="operationsTable">
        <table mat-table [dataSource]="operationsList" class="mat-elevation-z8">

            <ng-container matColumnDef="accountId">
                <th mat-header-cell *matHeaderCellDef> To/From Account </th>
                <td mat-cell *matCellDef="let element"> {{element.accountID}} </td>
            </ng-container>

            <ng-container matColumnDef="debitOrCredit">
                <th mat-header-cell *matHeaderCellDef> Debit/Credit </th>

                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.debit_Credit">Debit</span>
                    <span *ngIf="element.debit_Credit">Credit</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount + '$'}} </td>
            </ng-container>

            <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef> Balance </th>
                <td mat-cell *matCellDef="let element"> {{element.balance + '$'}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> date </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
            </ng-container>

            <ng-container matColumnDef="moreDetails">
                <th mat-header-cell *matHeaderCellDef> more Details </th>
                <th mat-cell *matCellDef="let element"><button mat-stroked-button (click)="openSnackBar(element)">more
                        detailes</button></th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
    <div class="paging">
        <mat-paginator [length]="100" [pageSize]="4" [pageSizeOptions]="[1,2,4]" (page)="onPaginateChange($event)"
            aria-label="Select page">
        </mat-paginator>
    </div>
</div>
    <div *ngIf="operationsList == null">
        No transfers have been made in this account
    </div>