<div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToAccountDetails()">
            <mat-icon>dialpad</mat-icon>
            <span>Account Details</span>
        </button>
        <button mat-menu-item (click)="navigateToNewTransaction()">
            <mat-icon>voicemail</mat-icon>
            <span>New transaction</span>
        </button>
        <button mat-menu-item routerLink="" routerLinkActive="active">
            <mat-icon>notifications_off</mat-icon>
            <span>Transactions history</span>
        </button>
    </mat-menu>
</div>