body {
    background-image: url('/src/pics/pic.jpg');
    
}
#container{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 78vh;
    justify-content: center;
    margin: 0;
}